.header-navbar{
    height: 80px !important;
    /* margin-bottom: 300px !important ; */
  }
  
  .header-container{
    background-color: red ;
    height: 80px;
  }
  
  
  .catalog-div{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  
  